*{
	margin: 0;
	padding: 0;
}


body{
	 font-family: 'Noto Sans', sans-serif;
	 background-color:  #0075c4; 
}

header{
	height: 100px;
	font-family: 'Nerko One', cursive;
	background-color:  #003152 ;
}

.nav{
	text-align: right;
}

.titulo-web{
	text-align: right;
	padding-right: 30px;
	font-size: 72px;
	color: white;
}

.titulo-web span{
	color: #ef4108;
}


#contenido{
	padding-top: 20px;
	padding-left: 20px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.formulario{
	margin-right: 10px;
	padding: 0px 20px;
	text-align: center;
	background-color: #003152;
	/*box-shadow: 0px 0px 10px 1px black;*/
}

.formulario h1{
	padding-top: 15px;
	font-weight: 400;
	color: white;
}

form{

	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.btn{
	margin: 2px 1em 2px 0px;
	padding: 8px 30px;
	border-radius: 5px;
}

.btn-orange{
	background-color: red;
	color: white;
}

.btn-orange:hover{
	background-color: blue;
	color: pink;
}

.btn-next{
	margin-top: 10px;
	padding-bottom: 3px;
	height: 40px;

	border: none;
	border-radius: 4px;

	background-color: #ef4108;
	color: white;
	font-size: 24px;

	cursor: pointer;

	transition: 0.5s;
	transition-property: background-color;
}

.btn-next:hover{
	background-color:  #fba588 ;
}

.btn-next i{
	margin-right: 10px;
}

.titulos{
	margin-top: 20px;
	background-color:  #22282d;
	color: white;
	display: flex;
}
       
.listado{
	padding: 0px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #00497a;
}

.listado h1{
	padding-top: 15px;
	color: white;
	font-weight: 400;
}

.fila{
	border-style: solid;
	border-color: black;
	border-width: 0px 1px 1px 1px;
	background-color: #c2e7ff;
	color: #ef4108;
	display: flex;
}

.borrar{
	width: 80px;
	text-align: center;
	transition: 0.5s;
	transition-property: background-color;
}

.editar{
	width: 80px;
	text-align: center;
	transition: 0.5s;
	transition-property: background-color;
}

.nombre {
	width: 100px;
}

.energia{
	width: 70px;
}

a{
	text-decoration: none;
	color:black;
}

a:hover {
	color: white;
}

.borrar:hover{
	background-color: #ef4108;
	color: white;
}

.editar:hover{
	background-color: #368aff;
	color:white;
}

.error{
	color: #ef4108;
	transition-property: 
}

.pie{
	margin-top: 2em;
	text-align: center;
}